@media (max-width:1000px) {
  img#image{
    display: none;
  }
}

@media (min-width:400px) {
  img#imagephone{
    display: none;
  }
}

@media (max-width:960px) {
  #main-menu{
    display: none;
  }
}


#title{

  background-color: #53C3CB;
  color: #ffffff;
  height:90%;
  padding:0% 0% 0% 00%;

}


.container-fluid {
  padding: 5% 7% 7%;
  height: 100%;
}

  h1 {
    text-align: center;
    font-family: 'Days One';
    font-size: 3rem;
    line-height: 1.5;

  }

  h2 {
    text-align: center;
    font-family: 'Days One';
    font-size: 2rem;
    line-height: 1.5;
  }

  h3{
    text-align: center;
    font-family: 'Days One';

  }

  h5{
    text-align: center;
    font-family: 'Days One';

  }


  p {
    color: #8f8f8f;

  }

  .navbar{
    width: 90%;
    padding: 0 0 5% 0;

  }
  .navbar-brand {
    font-size: 2rem;


  }

  .nav-item {


  }

  .nav-link {
    font-size: 1.2rem;
  }

  #features {
    padding: 7% 10%;
    background-color: #d3d3d3;
  }


  .feature-box {
    text-align: center;
    padding: 5%;
  }

  .icon2{
    color: red;
  }


  .icon1{
    color: white;
  }

  .icon2:hover{
    color: white;
  }


  .icon1:hover{
    color: black;
  }




  #Aboutme {
    padding: 7% 10%;
    background-color: #F7E188;
    color: #999999;
    text-align: left;
    height:100%
  }

  .feature-box {
    text-align: center;
    padding: 5%;
  }


  .icon:hover{
    color: red;
  }


#image{
  height:auto;
  width:210%;
  position:relative;
  margin-left:-9.75em;
  margin-top:-25em;
  margin-bottom:-34.25em;
  z-index:2}

  #imagephone{
    height:auto;
    width:11%;
    position:relative;
    margin-left:-9.75em;
    margin-top:-25em;
    margin-bottom:-34.25em;
    z-index:2}

  #contatta{
    padding: 7% 10%;
    background-color:#ffffff;
    color:#999999;
  }


  .container {
    height: 6.25em;
    position: relative;

  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #footer{
    padding: 2% 7%;
    background-color:#3d3d3d;
    color:#ffffff;
  }
